<%- include('./partials/head.ejs')%>
<hr class="hr" />
<h1 class="text-center"><i class="bi bi-exclamation-triangle text-danger"></i> Error 404: Page or data not found.</h1>
<hr class="hr" />
<%- include('./partials/foot.ejs')%>