<%- include('./partials/head.ejs')%>
<div class="container">
    <h1>About</h1>
    <p>
        Welcome to our online library! We are thrilled to offer our users a vast collection of books in our book gallery. Our goal is to provide a convenient and accessible way for readers to discover new books and authors.
    <br><br>
    Our library offers a wide variety of genres, including fiction, non-fiction, poetry, and children's literature. We also have a powerful book management system that allows users to easily search for and organize their favorite books. Users can create reading lists, write reviews, and even borrow e-books. We are constantly updating our collection with the latest releases, so there's always something new to discover.
    <br><br>
    The website is dedicated to providing its users with the best possible experience. The team behind it is committed to ensuring that the website is easy to navigate and that the book collection is diverse and inclusive. The website also strives to offer a welcoming and inclusive space for all readers. If users have any suggestions or feedback, the website encourages them to reach out. The website is constantly looking for ways to improve and welcomes any input from its users.
    </p>
</div>
<%- include('./partials/foot.ejs')%>