<%- include('./partials/head.ejs')%>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/books.jpg" class="d-block mx-lg-auto img-fluid" alt="image of books">
      </div>
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Discover the World of Books at Our Online Library</h1>
        <p class="lead">
            A hub of knowledge and imagination offering a vast collection of books and resources for readers of all ages and interests. The library's user-friendly design allows for easy browsing of the book gallery, searching for specific titles, and managing reading lists. With a commitment to accessibility and inclusivity, the online library is the perfect destination for book lovers to discover the latest bestsellers, classic literature, and everything in between.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="<%="/library"%>" type="button" class="btn btn-dark btn-lg bg-gradient">Visit Library</a>
        </div>
      </div>
    </div>
  </div>
<%- include('./partials/foot.ejs')%>
